<div class="container">
    <div id="footer">
        <div class="row">
            <div id="partners">
                <h1>Presented by:</h1>
                <div class="row">
                    <div class="col-md-4 col-md-offset-2">
                        <img src="assets/am_grad.png">
                    </div>
                    <div class="col-md-4">
                        <img src="assets/cpb.png">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <img src="assets/nine_network.png">
                    </div>
                    <div class="col-md-4">
                        <img src="assets/stlpr.png">
                    </div>
                    <div class="col-md-4">
                        <img src="assets/focus.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="copyright">
                <p>&copy; 2015 St. Louis Public Radio &amp; Nine Network of Public Media</p>
            </div>
        </div>
    </div>
</div>
