<div class="modal fade" id="share-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body clearfix">
                <button type="button" class="share-close btn button-default" data-dismiss="modal" aria-hidden="true">&times; <em>Close</em></button>
                <div class="story-summary">
                    <h4>Share this</h4>

                    <p class="summary-text">{{ COPY.share.story_summary }}<br/><br/>{{ COPY.share.share_url }}</p>

                </div>
<div class="row">
  <div class="col-lg-4">
                <div class="email-friend share-section">
                        <p class="share-story">
                          <a href="mailto:?body={{ COPY.share.email_body|safe }}&subject={{ COPY.share.email_subject }}" onclick="ANALYTICS.clickEmail('share-discuss');">
                            <i class="fa fa-envelope fa-fw fa-4x share-icon"></i></a>
                          </p>
                        <h4>Email</h4>

                    </div><!-- / email-friend -->
</div>
<div class="col-lg-4">
                <div class="facebook-share share-section">

                    <p class="share-story">
                      <a href="http://facebook.com/sharer.php?u={{ COPY.share.share_url|safe }}&amp;t={{ COPY.share.meta_description|safe }}" target="_blank" onclick="ANALYTICS.clickFacebook('share-discuss');"><i class="fa fa-facebook fa-fw fa-4x share-icon"></i></a>
                    </p>
                    <h4>Facebook</h4>

                </div><!-- / facebook-share -->
                </div>
                <div class="col-lg-4">
                <div class="twitter-share share-section">

                  <p class="share-story">
                      <a href="http://twitter.com/share?text={{ COPY.share.twitter_text|urlencode }}&amp;url={{ COPY.share.share_url|urlencode }}" target="_blank" onclick="ANALYTICS.clickTweet('share-discuss');"><i class="fa fa-twitter fa-fw fa-4x share-icon"></i></a>
                  </p>
                  <h4>Twitter</h4>

                </div><!-- / twitter-share -->
</div>
</div>
            </div><!-- / modal-body -->
        </div><!-- / modal-content -->
    </div>
</div><!-- / #share-modal -->
