{% extends '_base.html' %}

{% block content %}
<div class="intro">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p class="lead">{{ COPY.content.intro_graf_1 }}</p>
                <p>{{ COPY.content.intro_graf_2 }}</p>
                <a class="share btn btn-primary btn-lg" data-toggle="modal" data-backdrop="static" data-target="#share-modal">Share this <i class="fa fa-share" title="share"></i></a>
            </div>
        </div>
    </div>
</div>
    <div class="join">
        <div class="container">
            <h1>Watch the forum</h1>
            <style>
            .embed-container {position: relative; padding-bottom: 56.25%; padding-top:
            0px; height: 0; overflow: hidden; max-width: 100%; height:
            auto;margin:10px;}
            .embed-container iframe, .embed-container object, .embed-container embed
            {position: absolute!important; top: 0; left: 0; width: 100%; height: 100%;}
            </style>
            <div class='embed-container'><iframe id="playerIFrame" frameborder="0"
            scrolling="no" align=³middle"
            src="http://player.piksel.com/playerlive.php?s=zc6a64dx&r=true&doResize=fal
            se&autoPlay=false² height="360" width=³640" allowtransparency="true"
            allowfullscreen></iframe></div>
                </div>
            </div>
        </div>
    </div>
<div class="tweet">
    <div class="container">
        <h1>{{ COPY.content.tweet_title }}</h1>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p>{{ COPY.content.tweet_1 }}</p>
            </div>
        </div>
        <div class="row">
            <div class="twitter col-md-8 col-md-offset-2">
                <div class="storify"><iframe src="//storify.com/TheNineNetwork/amgradstl-school-discipline-debate/embed?header=false&border=false" width="100%" height="750" frameborder="no" allowtransparency="true"></iframe><script src="//storify.com/TheNineNetwork/amgradstl-school-discipline-debate.js?header=false&border=false"></script><noscript>[<a href="//storify.com/TheNineNetwork/amgradstl-school-discipline-debate" target="_blank">View the story "#AmGradSTL School Discipline Debate" on Storify</a>]</noscript></div>
            </div>
        </div>
    </div>
</div>
<div class="faq">
    <div class="container">
        <h1>{{ COPY.content.story_link_title }}</h1>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p>{{ COPY.content.story_link }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
