{% extends '_base.html' %}

{% block content %}
<div class="intro">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p class="lead">{{ COPY.content.intro_graf_1 }}</p>
                <p>{{ COPY.content.intro_graf_2 }}</p>
                <a class="share btn btn-primary btn-lg" data-toggle="modal" data-backdrop="static" data-target="#share-modal">Share this <i class="fa fa-share" title="share"></i></a>
            </div>
        </div>
    </div>
</div>
{% if COPY.content.jumbotron %}
    <div class="join">
        <div class="container">
            <h1>{{ COPY.content.jumbotron_title }}</h1>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <p>{{ COPY.content.jumbotron_text }}</p>
                    <p>{{ COPY.content.jumbotron_text_2 }}</p>
                    <p><a class="btn btn-primary btn-lg" href="{{ COPY.content.jumbotron_link }}" role="button">{{ COPY.content.jumbotron_link_text }}</a></p>
                </div>
            </div>
        </div>
    </div>
{% endif %}
<div class="tune-in">
    <div class="container">
        <h1>{{ COPY.content.tune_in_title }}</h1>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <ul>
                    <li>{{ COPY.content.tune_in_1 }}</li>
                    <li>{{ COPY.content.tune_in_2 }}</li>
                    <li>{{ COPY.content.tune_in_3 }}</li>
                    <li>{{ COPY.content.tune_in_4 }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="tweet">
    <div class="container">
        <h1>{{ COPY.content.tweet_title }}</h1>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p>{{ COPY.content.tweet_1 }}</p>
            </div>
        </div>
        <div class="row">
            <div class="twitter col-md-8 col-md-offset-2">
                <a class="twitter-timeline" href="https://twitter.com/hashtag/AmGradSTL" data-widget-id="651459904209727488">#AmGradSTL Tweets</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
        </div>
    </div>
</div>
<div class="faq">
    <div class="container">
        <h1>{{ COPY.content.more_info_title }}</h1>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p>{{ COPY.content.more_info_1 }}</p>
                <div class="row">
                    <div class="col-md-6">
                        <p class="question">{{ COPY.content.more_info_q_1 }}</p>
                        <p class="answer">{{ COPY.content.more_info_a_1 }}</p>
                    </div>
                    <div class="col-md-6">
                        <p class="question">{{ COPY.content.more_info_q_2 }}</p>
                        <p class="answer">{{ COPY.content.more_info_a_2 }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
